
{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="alert alert-info">
    <h3>PHP CRUD - Firebase</h3>
    <ul>
        <li>Firebase (Realtime Database, Auth. ..)</li>
        <li>Composer (Dependency Management)</li>
        <li>Twig (Template Engine)</li>
    </ul>
</div>
{% endblock %}

{% block script %}
    <script>
        $(function(){

        })
    </script>
{% endblock %}
