
{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
    .important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<p class="important alert alert-info">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio in sunt! At aut consectetur dolor
    ea eveniet exercitationem inventore molestiae molestias praesentium provident quasi saepe sed sequi, ut voluptate.
</p>
{% endblock %}

{% block script %}
    <script>
        $(function(){

        })
    </script>
{% endblock %}
