<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    {% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="../../assets/css/style.css" />

    <title>{% block title %}{% endblock %} - MC</title>
    {% endblock %}
  </head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="./">
      <img  src="./assets/img/php.png" alt="logo" class="logo" />
      <img  src="./assets/img/mvc.png" alt="logo" class="logo" />
      <img  src="./assets/img/firebase.png" alt="logo" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="./">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="./about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="./contact">Contact</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="./pages">Blog</a>
            <a class="dropdown-item" href="./users">Users</a>
            <!-- <div class="dropdown-divider"></div>
             <a class="dropdown-item" href=./contact"#">config..</a>-->
          </div>
        </li>

      </ul>

      <div class="float-right" style="color:white;">
        <!--<c:if test="${not empty user}">
            <i class="fa fa-user"></i> ${user}
            <a class="nav-link" href="${pageContext.request.contextPath}/main/logout"
               style="display:inline; color:crimson;">
                <i class="fa fa-sign-out fa-lg"></i>
            </a>
        </c:if>-->

<!--        <a class="nav-link" href="./admin"><i class="fa fa-sign-in fa-lg"></i> Login</a>-->

        <span id="current-user"></span>&nbsp;
        <button id="btn-login" type="button" data-toggle="modal" data-target="#login-modal" class="btn btn-sm nav-link" style="background-color: transparent; color: #007bff; display: inline;" aria-hidden="true">
                <i class="fa fa-sign-in fa-lg"></i> Login
        </button>
        <button id="btn-logout" type="button" class="btn btn-sm nav-link" style="background-color: transparent; color: #ff0048; display: none;" aria-hidden="true">
                <i class="fa fa-sign-out fa-lg"></i> Logout
        </button>

      </div>
    </div>
  </nav>
</header>

<!--<div class="alert alert-success content">-->
<!--  <h3>Session</h3>-->

<!--  <table border="1">-->
<!--    {% for key,value in session %}-->
<!--    <tr>-->
<!--      <td>{{key|e }}</td> <td> {{ value }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--  </table>-->
<!--</div>-->
<div class="content">{% block content %}{% endblock %}</div>


<form id="loginUser" class="users-update-record-model form-horizontal" method="POST" action="">
  <div id="login-modal" data-backdrop="static" data-keyboard="false" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:55%;">
      <div class="modal-content" style="overflow: hidden;">
        <div class="modal-header">
          <h4 class="modal-title" id="custom-width-modalLabel">Login</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body" id="addBody">
          <div class="alert alert-warning" id="login-warning" style="display: none;"></div>
          <div class="form-group mb-2">
            <label for="login" class="sr-only">Login</label>
            <input id="login" type="text" class="form-control" name="login" placeholder="Login" required autofocus>
          </div>
          <div class="form-group mb-2">
            <label for="password" class="sr-only">Password</label>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password" required autofocus>
          </div>
        </div>
        <div class="modal-footer">
          <button id="openRegister" type="button" data-toggle="modal" data-target="#register-modal" class="btn btn-sm nav-link" aria-hidden="true">
            Register
          </button>
          <button id="submitLogin" type="button" class="btn btn-success mb-2">Login</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form id="registerUser" class="users-update-record-model form-horizontal" method="POST" action="">
  <div id="register-modal" data-backdrop="static" data-keyboard="false" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:55%;">
      <div class="modal-content" style="overflow: hidden;">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-2">
            <label for="name" class="sr-only">Name</label>
            <input id="name" type="text" class="form-control" name="name" placeholder="Name" required autofocus>
          </div>
          <div class="form-group mb-2">
            <label for="email" class="sr-only">Login</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required autofocus>
          </div>
          <div class="form-group mb-2">
            <label for="password1" class="sr-only">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required autofocus>
          </div>
          <div class="form-group mb-2">
            <label for="password2" class="sr-only">Password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" required autofocus>
          </div>
        </div>
        <div class="modal-footer">
          <button id="submitRegister" type="button" class="btn btn-success mb-2">Register</button>
        </div>
      </div>
    </div>
  </div>
</form>

<footer class="footer">
  {% block footer %}
  <span class="text-muted">&copy; Copyright 2017-2021 <a href="">MC.</a></span>
  {% endblock %}
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-auth.js"></script>
<!--<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-analytics.js"></script>-->
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-database.js"></script>

<script src="../../assets/js/main.js"></script>

{% block script %}{% endblock %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>

  //  let request =
  $.ajax({
    type: "POST",
    url: 'app/util.php',
    // dataType: 'json',
    data: {key: 'firebase', value: '1'},
    success: function (obj, textstatus) {
      console.log('Success : '+obj);
    },
    fail: function (http_error) {
      console.log('Error : '+http_error.statusText);
    }
  });

  // request.done(function (output_success) {
  //       alert(output_success.output);
  // });
  // request.fail(function (http_error) {
  //   //Code à jouer en cas d'éxécution en erreur du script du PHP
  //
  //   let server_msg = http_error.responseText;
  //   let code = http_error.status;
  //   let code_label = http_error.statusText;
  //   alert("Erreur "+code+" ("+code_label+") : "  + server_msg);
  // });
  //
  // request.always(function () {
  //   alert('Code à jouer après done OU fail dans tous les cas');
  // });
</script>

</body>
</html>