<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    {% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="../../assets/css/style.css" />

    <title>{% block title %}{% endblock %} - MC</title>
    {% endblock %}
  </head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="${pageContext.request.contextPath}/">
      <img  src="./assets/img/mvc.png" alt="logo" class="logo" />
      <img  src="./assets/img/firebase.png" alt="logo" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="./">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="./about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="./contact">Contact</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="./pages">Blog</a>
            <a class="dropdown-item" href="./users">Users</a>
            <!-- <div class="dropdown-divider"></div>
             <a class="dropdown-item" href=./contact"#">config..</a>-->
          </div>
        </li>

      </ul>

      <div class="float-right" style="color:white;">
        <!--<c:if test="${not empty user}">
            <i class="fa fa-user"></i> ${user}
            <a class="nav-link" href="${pageContext.request.contextPath}/main/logout"
               style="display:inline; color:crimson;">
                <i class="fa fa-sign-out fa-lg"></i>
            </a>
        </c:if>-->

<!--        <a class="nav-link" href="./admin"><i class="fa fa-sign-in fa-lg"></i> Login</a>-->
        <button type="button" data-toggle="modal" data-target="#login-modal" class="btn btn-sm nav-link"
                style="background-color: transparent; color: #007bff;" aria-hidden="true">
          <i class="fa fa-sign-in fa-lg"></i> Login
        </button>

      </div>
    </div>
  </nav>
</header>

<div class="content">{% block content %}{% endblock %}</div>


<form id="loginUser" class="users-update-record-model form-horizontal" method="POST" action="">
  <div id="login-modal" data-backdrop="static" data-keyboard="false" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:55%;">
      <div class="modal-content" style="overflow: hidden;">
        <div class="modal-header">
          <h4 class="modal-title" id="custom-width-modalLabel">Login</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body" id="addBody">
          <div class="form-group mb-2">
            <label for="login" class="sr-only">Login</label>
            <input id="login" type="text" class="form-control" name="login" placeholder="Login" required autofocus>
          </div>
          <div class="form-group mb-2">
            <label for="password" class="sr-only">Password</label>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password" required autofocus>
          </div>
        </div>
        <div class="modal-footer">
<!--          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>-->
          <button id="submitUser" type="button" class="btn btn-success mb-2">Login</button>
        </div>
      </div>
    </div>
  </div>
</form>

<footer class="footer">
  {% block footer %}
  <span class="text-muted">&copy; Copyright 2017-2021 <a href="">MC.</a></span>
  {% endblock %}
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% block script %}{% endblock %}
</body>
</html>