
{% extends "base.html" %}

{% block title %}Contact{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<p class="important alert alert-success">
    Contact Form..
</p>
{% endblock %}
